/* General */
body {
    font-family: "Montserrat", sans-serif;
}

p,
span {
    font-family: "Heebo", sans-serif;
}

.main-bg-color {
    background: #0A4677;
}

.secondary-bg-color {
    background: #F9BF0F;
}

.secondary-bg-color-2 {
    background: #EDF1FC;
}

.secondary-color {
    color: #F9BF0F;
}

.secondary-color-2 {
    color: #D3E3FE;
}

.main-color {
    color: #0A4677;
}

.main-color-2 {
    color: #17224D;
}

.main-button {
    background: #F9BF0F;
    color: #17224D;
    font-weight: 500;
    border-style: solid;
    border-width: 0rem;
    border-radius: .125rem;
    font-size: 1rem;
    padding: .75rem 1.875rem;
    transition: background-color 0.5s ease;
}

.main-button:hover {
    background: #1075B2;
    color: #ffffff;
}

.main-border {
    border-style: solid;
    border-width: 0rem;
    border-radius: .125rem;
}

.w-85 {
    width: 85%;
}

.w-97 {
    width: 97%;
}

.w-18 {
    width: 18%;
}

.my-120 {
    margin-top: 120px;
    margin-bottom: 120px;
}

.py-120 {
    padding-top: 120px;
    padding-bottom: 120px;
}

.about-us img,
.why-choose-us img {
    transition: translate box-shadow color .25s;
    box-shadow: 20px 20px 0 #F9BF0F;
    object-fit: cover;
}

/* Navbar */
.social-icons a {
    color: #17224D;
    transition: background-color 0.5s ease;
}

.social-icons a:hover {
    color: #F9BF0F;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    color: #F9BF0F !important;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #ffffff;
    font-weight: 500;
}

.navbar button {
    font-size: 14px;
    font-weight: 600;
}

/* Header */
.header {
    background: linear-gradient(rgba(35, 65, 110, 0.4), rgba(35, 65, 110, 0.4)), url('IMG/bg.jpg');
    background-position: 100% 30%;
    background-size: cover;
    height: 120vh;
}

.header .form-control {
    border: #EDF1FC solid 2px;
    padding: 0.5rem 1rem;
}

.header .form-control:focus {
    box-shadow: none;
    border: #EDF1FC solid 2px;
}

/* work */
.work h2 {
    font-size: 3rem;
    font-weight: 700;
}

.work p {
    font-size: 15px;
}

/* Discover */
.discover .container,
.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl,
.container-xxl {
    padding: 0;
    margin: 0;
}

.play-icon {
    width: 60px;
    height: 60px;
    animation: pulse 1s infinite;
    -webkit-animation: pulse 2s infinite;
}

@-webkit-keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 #F9BF0F;
    }

    70% {
        box-shadow: 0 0 0 15px transparent;
    }

    100% {
        box-shadow: 0 0 0 0 transparent;
    }
}

.play-icon i {
    transition: color 0.5s ease;
}

.play-icon i:hover {
    color: #F9BF0F;
}

.inner-discover {
    padding-left: 6.25rem;
}

.discover button {
    padding: .8125rem 2.0625rem;
}

/* services */
.services .card img {
    width: 15%;
}

.services .card p {
    font-size: 14px;
}

.services .card,
.why-choose-us .card {
    transition: all .5s ease;
}

.services .card:hover,
.why-choose-us .card:hover {
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

/* why-choose-us */
.why-choose-us .card p {
    font-size: 14px;
}

/* contact-us */
.contact-us {
    background: linear-gradient(rgba(35, 65, 110, 0.4), rgba(35, 65, 110, 0.4)), url('IMG/video-bg.jpg');
    background-size: cover;
}

/* Testimonial */
.Testimonial-img {
    background: linear-gradient(to top, #fff 0%, #f1f1f1 100%);
}

/* footer */
footer {
    font-size: .8125rem;
    font-weight: 300;
}

.footer .social-icons a {
    transition: background-color 0.5s ease;
    color: #ffffff;
}

.footer .social-icons a:hover {
    color: #F9BF0F;
}

.footer hr {
    background-color: #1075B2;
}