/* General */
.main-bg-color{
    background: #0A4677;
}

.secondary-bg-color{
    background: #F9BF0F;
}

.secondary-bg-color-2{
    background: #EDF1FC;
}

.secondary-color{
    color: #F9BF0F;
}

.main-color{
    color: #0A4677;
}

.main-color-2{
    color: #17224D;
}


.main-button{
    background: #F9BF0F;
    color: #17224D;
    font-weight: 500;
    border-style: solid;
    border-width: 0rem;
    border-radius: .125rem;
    font-size: 1rem;
    padding: .75rem 1.875rem;
    transition: background-color 0.5s ease;
}

.main-button:hover{
    background: #1075B2;
    color: #ffffff;
}

.main-border{
    border-style: solid;
    border-width: 0rem;
    border-radius: .125rem;
}

.w-85{
    width: 85%;
}

.w-97{
    width: 97%;
}

.my-100{
    margin-top: 100px;
    margin-bottom: 100px;
}

/* Navbar */
.social-icons a{
    color: #17224D;
    transition: background-color 0.5s ease;
}

.social-icons a:hover{
    color: #F9BF0F;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color: #F9BF0F !important;
    font-weight: 500;
}

.navbar-expand-lg .navbar-nav .nav-link{
    color: #ffffff;
    font-weight: 500;
}

/* Header */
.header{
    background: linear-gradient(rgba(35, 65, 110, 0.4), rgba(35, 65, 110, 0.4)), url('IMG/bg.jpg');
    background-position: 100% 30%;
    background-size: cover;
    height: 120vh;
}

.header .form-control{
    border: #EDF1FC solid 2px;
    padding: 0.5rem 1rem;
}

.header .form-control:focus{
    box-shadow: none;
    border: #EDF1FC solid 2px;
}

/* about-us */
.about-us img{
    transition: translate box-shadow color .25s;
    box-shadow: 20px 20px 0 #F9BF0F;
}
